{% extends "views/base.html" %}

{% block title %}
<title>Hi, {{user.username}}</title>
{% endblock %}

{% block body %}

<div class="flex justify-between items-center mb-6">
    <h1 class="text-5xl font-semibold">Hi, {{user.username}}</h1>
    <div>
        <a href="/new" class="bg-indigo-500 text-white px-2 py-1 rounded">Create a new post</a>
        <button hx-post="/logout" class="bg-indigo-500 text-white px-2 py-1 rounded">Log out</button>
    </div>
</div>

<h2>Your blog posts:</h2>
<ul class="space-y-2">
{% for post in posts %}
    <li class="border border-black rounded-md px-4 py-3">
        <a href="/posts/{{post.id}}/{{post.slug}}" class="text-2xl font-semibold underline underline-offset-4 inline-block mb-1">{{post.title}}</a>
        <p><small>By <a href="/{{post.username}}" class="underline">{{post.username}}</a></small></p>
        <p>{{post.description}}</p>
    </li>
{% endfor %}
</ul>
{% endblock %}
