{% extends "views/base.html" %}

{% block title %}
<title>New Post</title>
{% endblock %}

{% block body %}
<div class="mb-6">
    <h1 class="text-5xl font-semibold">Hi {{ username }}, create a new post</h1>
</div>

<form hx-post="/blogs" class="space-y-2">
    <div>
        <label for="title" class="inline-block mb-2">Title</label>
        <br>
        <input id="title" name="title" type="text" class="block w-full rounded-md border border-gray-500 py-1.5 pl-2 pr-20 text-gray-900 focus:focus:ring-inset sm:text-sm sm:leading-6">
    </div>
    <div>
        <label for="description" class="inline-block mb-2">Description</label>
        <br>
        <input id="description" name="description" type="text" class="block w-full rounded-md border border-gray-500 py-1.5 pl-2 pr-20 text-gray-900 focus:focus:ring-inset sm:text-sm sm:leading-6">
    </div>
    <div>
        <label for="contents" class="inline-block mb-2">Contents</label>
        <br>
        <textarea id="contents" name="contents" rows="10" cols="100" class="block w-full rounded-md border border-gray-500 py-1.5 pl-2 pr-20 text-gray-900 focus:focus:ring-inset sm:text-sm sm:leading-6"></textarea>
    </div>
    <button type="submit" class="bg-indigo-500 text-white px-2 py-1 rounded">Create</button>
</form>
{% endblock %}
