{% extends "views/base.html" %}

{% block title %}
<title>{{post.title}}</title>
{% endblock %}

{% block body %}
<div class="flex justify-between items-center mb-2 space-y-2">
    <div>
        <h1 class="text-5xl font-semibold">{{post.title}}</h1>
        <p><small>By <a href="/{{post.username}}" class="underline">{{post.username}}</a></small></p>
        <p>{{post.description}}</p>
    </div>
    {% ifequal session.user_id post.user_id %}
        <a href="/posts/{{post.id}}/{{post.slug}}/edit" class="underline underline-offset-2">Edit</a>
    {% endifequal %}
</div>
<p>{{post.contents}}</p>


<h2 class="text-3xl font-semibold">Comments</h2>
<ul id="comment-list" class="space-y-2">
{% for comment in comments %}
    {% include "views/comment.html" %}
{% endfor %}
</ul>

<form hx-post="/comments" hx-target="#comment-list" hx-swap="beforeend" class="space-y-2">
    <h2 class="text-3xl font-semibold">Post a Comment</h2>
    <div>
        <textarea name="contents" rows="5" cols="50" class="block rounded-md border border-gray-500 py-1.5 pl-2 pr-20 text-gray-900 focus:focus:ring-inset sm:text-sm sm:leading-6"></textarea>
        <input type="hidden" name="post_id" value="{{post.id}}"></input>
    </div>
    <button type="submit" class="bg-indigo-500 text-white px-2 py-1 rounded">Post Comment</button>
</form>
{% endblock %}
