{% extends "views/base.html" %}

{% block title %}
<title>Blogging Site</title>
{% endblock %}

{% block body %}

<div class="flex justify-between items-center mb-6">
    <h1 class="text-5xl font-semibold">Posts</h1>
    <div>
        <a href="/new" class="bg-indigo-500 text-white px-2 py-1 rounded">Create a new post</a>
        {% if session|empty? %}
        <a href="/login" class="bg-indigo-500 text-white px-2 py-1 rounded">Log in / Sign up</a>
        {% else %}
        <a href="/dashboard" class="bg-indigo-500 text-white px-2 py-1 rounded">Dashboard</a>
        <button hx-post="/logout" class="bg-indigo-500 text-white px-2 py-1 rounded">Log out</button>
        {% endif %}
    </div>
</div>

{% if posts|empty? %}

<p>There are no blog posts!</p>

{% else %}

<ul class="space-y-2">
{% for post in posts %}
    <li class="border border-black rounded-md px-4 py-3">
        <div class="flex justify-between items-center">
            <a href="/posts/{{post.id}}/{{post.slug}}" class="text-2xl font-semibold underline underline-offset-4 inline-block mb-1">{{post.title}}</a>
            {% ifequal session.user_id post.user_id %}
                <a href="/posts/{{post.id}}/{{post.slug}}/edit" class="underline underline-offset-2">Edit</a>
            {% endifequal %}
        </div>
        <p><small>By <a href="/{{post.username}}" class="underline">{{post.username}}</a></small></p>
        <p>{{post.description}}</p>
    </li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
